
/* 导航 */
nav{
    width: 100%;
    position: relative;
}
nav img{
    width: 100%;
}
nav .rule{
    width: 7rem;
    padding: 3px;
    color:#fff;
    position: absolute;
    right: 0;
    top: 1rem;
    background-color:rgba(0,0,0,0.6);
    text-align: center;
    font-size: 1.4rem;
    border-radius: 2rem 0 0 2rem;
}
