
.container{
   background: transparent;
   height: 100%;
}
header{
    background-color: #f9f9f9;
}
nav{
   width: 100%;
   height: 32%;
   padding:  0 1rem;
}
nav .center{
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding-top: 6%;
    padding-bottom: 5%;
    border-radius:  0 0 15px 15px;
    text-align: center;
}
.dui{
    color: #7DD124;
    font-size: 3rem;
    font-weight: 600;
}
.center .thank{
    font-size: 1.8rem;
    margin-top: 5%;
}
.center .rank{
    font-size: 1.4rem;
    margin-top: 6%;
}
.center .rank i{
    color: #FF5C01;
}

/* 下方我要参与 */
.content{
    width: 100%;
    padding: 13% 2rem 0;
}
.content .thanks{
    color: #fff;
    text-indent: 2em;
    line-height: 2rem;
    margin-bottom: 5%;
}
.content .b_bottom{
    width: 50%;
    margin:    3rem auto;
    text-align: center;
    color: #fff;
    padding: 0.7rem 0;
    border-radius: 25px;
    background: linear-gradient( left, #984BFB, #4096FD);
    background: -webkit-linear-gradient( left, #984BFB, #4096FD);
}
.content .b_bottom i{
    color: #fff;
}
.content .no-thank{
    text-align: center;
    color: #fff;
    text-decoration: underline;
}
