.bigdata{
    background:#ecf0f5;
    width:100%;
    height:100%;
    padding-left:20px;
    padding-top:10px;
    padding-right:20px;
}
.list{
 height:calc(100% - 200px);
 margin-top:2rem;
 padding-right:10px;
   background:#ecf0f5;  
 
}
.flex-col{
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    background-color:#fff;
    flex-wrap: nowrap;
}
.flex{
    display:flex;
    flex-wrap: nowrap;
}
.list{
    background:#ecf0f5;
}
.list >li{
 height:15rem;
}
.left{
    max-width:20%;
    width:20%;
    height:100%;
}
video{
    margin: 10px auto;
    display:block;
    object-fit: fill;
}
.right{
    flex:1;
}
.team{
    max-width:40%;
    width:40%;
    padding-left:1rem;
}
.team p:nth-child(1){
    margin-top:10px;
}
.team p:last-child{
    height:5rem;
    display:-webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:3;
}
.imgmove,.sh{
    max-width:30%;
    width:30%;
}
.pt{
    min-width:8rem;
    width:80%;
    height:80%;
    margin:1rem auto;
    position:relative;
    text-align:center;
    
}
.v-img{
    display:none;
}
.pt img:not(.v-db){
  display:none;
}
.img-z-index{
    z-index:1;
    display:block;
}
.imgmove img{
    min-width:5rem;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    right:0;
}
.pt-btn{
    width:100%;
    position:absolute;
    bottom:10px;
    left:0;
    text-align:center;
     z-index:1;
}
.imgmove .v-btn{
    display: inline-block;
    width: 15px; height: 15px;
    box-sizing: border-box;
    border:3px solid transparent;   
    background-color: rgba(0,0,0,.6);
    background-clip: content-box;
    border-radius: 50%;
    transition: background-color .3s;
    cursor: pointer; 
}
.bu-active{
    background-color:red!important
}
.sh{
     text-align:right;
     align-self: center;
}