.sensitive{
     padding-left: 20px;
     padding-top: 10px;
     padding-right: 20px;
 }
 .sensitive-content{
     padding-top:2rem;
 }
 table{
     border-bottom:2px solid #ccc;
     border-collapse: separate;
 }
 th{
     padding:8px;
 }
 td{
     line-height:3rem!important;
 }
 .table-hea{
     background:#337ab7;
     color:#fff;
     border-radius:5px;
 }
 .table-hea th:first-of-type{
     border-top-left-radius:5px;
 }
 .table-hea th:last-of-type{
     border-top-right-radius:5px;
     text-align:right;
     padding-right:34px;
 }